body {
	background-color: black;
	color: white;
	padding: 50px;
	margin: 10px;
}
/* heading styles */
h1 {
	text-align: center;
}
/* unvisited link */
a:link {
	color: MediumSeaGreen;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: DodgerBlue;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
}

/* navbar display*/
.first-ul {
	list-style-type: none;
	margin: 0;
	padding: 8;
	overflow: hidden;
	background-color: #333;
	float: left;
}

.active {
	background-color: grey
}

.menu {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}